html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f7f7f7;
    color: #202124;
    margin-bottom: 200px;
}

.header-title span {
    background-color: #ffc600;
}

#user-input {
    width: 270px;
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

#user-input:focus {
    border-color: #5f6368;
    outline: 0;
}

.btn-yellow {
    border: 1px solid #ffc600;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffc600; 
}

.btn-yellow:focus {
    outline: 0;
}

.scroll-to-top-button {
    position: fixed; 
    bottom: 6%; 
    right: 3%; 
    font-size: 20px;
    z-index: 1;
    transform: scale(0);
}

.scroll-to-top-button-show {
    transform: scale(1);
}

.pharmacy-card {
    border: 1.5px solid #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.pharmacy-card-header-title {
    color: #5f6368;
}

.pharmacy-card-header-underline {
    background-color: #ffc600;
}

.pharmacy-card-body-item-value {
    word-wrap: break-word;
}

.highlight {
    background-color: #ffc600;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    background-color: #ffc600;
}

.link-blue {
    color: #007bff;
    text-decoration: none;
}

.link-blue:hover {
    color: #007bff;
}

.link-black {
    color: #202124;
    text-decoration: underline;
}

.link-black:hover {
    color: #202124;
}